{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1>Player</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ player.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ player.roles ? player.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ player.password }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ player.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ player.FirstName }}</td>
            </tr>
            <tr>
                <th>NickName</th>
                <td>{{ player.nickName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_player_index') }}">back to list</a>

    <a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
