{% extends 'base.html.twig' %}

{% block title %}BabyFoot By CCI - Équipes{% endblock %}

{% block body %}
<div class="hero overlay" style="background-image: url('images/bg_5.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Les équipes de la CCI</h1>
            <p>
              <a href="#" class="btn btn-primary py-3 px-4 mr-3">Organiser un match</a>
            </p>  
          </div>
        </div>
      </div>
    </div>

{% if app.user %}
    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Mes équipes</h2>
          </div>
        </div>
        <div class="row no-gutters">
            {% if myTeams is not empty %}
                {% for teamsUser in myTeams %}
                    <div class="col-md-4">
                        <div class="widget-next-match">
                            <div class="widget-title">
                                <h3>{{ teamsUser.name }}</h3>
                            </div>
                            <div class="widget-body mb-3">
                                <img src="images/logo_1.png" alt="Image">
                            </div>
                            <div class="text-center widget-vs-contents mb-4">
                                <div>
                                    <span class="score">{{ teamsUser.victory }}(V) - {{ teamsUser.defeat }}(D)</span>
                                </div>
                                <button class="btn btn-danger">Quitter l'équipe</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-teams">
                    <p>Vous n'êtes pas membre d'aucune équipe actuellement.</p>
                </div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Les équipes qui recrutent</h2>
          </div>
        </div>
        <div class="row no-gutters">
            {% for teamsRecruits in teamSinglePlayer %}
                <div class="col-md-4">
                    <div class="widget-next-match">
                        <div class="widget-title">
                            <h3>{{ teamsRecruits.name }}</h3>
                        </div>
                        <div class="widget-body mb-3">
                            <img src="images/logo_1.png" alt="Image">
                        </div>
                        <div class="text-center widget-vs-contents mb-4">
                            <div>
                                <span class="score">{{ teamsRecruits.victory }}(V) - {{ teamsRecruits.defeat }}(D)</span>
                            </div>
                            <button class="btn btn-success">Rejoindre l'équipe</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="latest-news">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Les équipes complètes</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="post-entry">
              <a href="#">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="caption">
                <div class="caption-inner">
                  <h3 class="mb-3">Romolu to stay at Real Nadrid?</h3>
                  <div class="author d-flex align-items-center">
                    <div class="img mb-2 mr-3">
                      <img src="images/person_1.jpg" alt="">
                    </div>
                    <div class="text">
                      <h4>Mellissa Allison</h4>
                      <span>May 19, 2020 &bullet; Sports</span>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="#">
                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="caption">
                <div class="caption-inner">
                  <h3 class="mb-3">Kai Nets Double To Secure Comfortable Away Win</h3>
                  <div class="author d-flex align-items-center">
                    <div class="img mb-2 mr-3">
                      <img src="images/person_1.jpg" alt="">
                    </div>
                    <div class="text">
                      <h4>Mellissa Allison</h4>
                      <span>May 19, 2020 &bullet; Sports</span>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="#">
                <img src="images/img_2.jpg" alt="Image" class="img-fluid">
              </a>
              <div class="caption">
                <div class="caption-inner">
                  <h3 class="mb-3">Dogba set for Juvendu return?</h3>
                  <div class="author d-flex align-items-center">
                    <div class="img mb-2 mr-3">
                      <img src="images/person_1.jpg" alt="">
                    </div>
                    <div class="text">
                      <h4>Mellissa Allison</h4>
                      <span>May 19, 2020 &bullet; Sports</span>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
