{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center flex-row" style="gap: 2rem;">
        <button class="btn">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_home') }}" style="background-color: #dc3545;color: #fff">Annuler</a>
    </div>
{{ form_end(form) }}
